USE [SIDAF]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION CriptografaSenha
	(
		@Senha VARCHAR(1000)
	)
RETURNS VARBINARY(4000)
AS
	BEGIN
	
		-- CRIANDO A CHAVE PARA CRIPTOGRAFAR
		   DECLARE @ChaveCriptografia VARCHAR(1000) = 'CHAVE'
		
		-- CRIPTOGRAFANDO A SENHA
		   DECLARE @Criptografada VARBINARY(5000) = ENCRYPTBYPASSPHRASE(@ChaveCriptografia, @Senha)
		
		-- RETORNA A SENHA CRIPTOGRAFADA
		   RETURN @Criptografada
		
	END
	